[submodule "terraform-gcp-bucket-site"]
	path = terraform-gcp-bucket-site
	url = git@github.com:JakubG-git/terraform-gcp-bucket-site.git
[submodule "vagrant-ansible-nginx-lb"]
	path = vagrant-ansible-nginx-lb
	url = git@github.com:JakubG-git/vagrant-ansible-nginx-lb.git
[submodule "terraform-gcp-flask"]
	path = terraform-gcp-flask
	url = git@github.com:JakubG-git/terraform-gcp-flask.git
[submodule "terraform-gcp-kubernetes"]
	path = terraform-gcp-kubernetes
	url = git@github.com:JakubG-git/terraform-gcp-kubernetes.git
[submodule "terraform-gcp-kubernetes-autopilot"]
	path = terraform-gcp-kubernetes-autopilot
	url = git@github.com:JakubG-git/terraform-gcp-kubernetes-autopilot.git
[submodule "terraform-azure-vm"]
	path = terraform-azure-vm
	url = git@github.com:JakubG-git/terraform-azure-vm.git
